CompileFlags:
  CompilationDatabase: build
  Remove: [-finstrument-functions-exclude-file-list=*, -finstrument-functions-exclude-function-list=*, -fmodules-ts, -fmodule-mapper=*, -fdeps-format=*, -fdeps-file=*, -fdeps-target=*]
